Rendered_band*png
*.log
*.dat
*.out
*.txt
*.png
*.pdf
*.gif
neb.traj
neb*run.traj
neb_start.traj
IS*.traj
FS*.traj
charge*list
pot_*.traj
init.traj
*not_climbed.traj
run*py
*old_*
*_old*
structure_source
init*.traj
neb_for_view.traj
*.cube
*.pckl
*.pkl
vibs
narrow_down_TS
*short*traj
relax.traj
